<template>
  <div class="home">
    <Header />
    <Ideas />
  </div>
</template>

<script>
// @ is an alias to /src
import Ideas from "@/pages/Ideas.vue";
import Header from "@/components/Header.vue";

export default {
  name: "IdeasView",
  components: {
    Ideas,
    Header,
  },
};
</script>
