<template>
  <div class="main">
    <!-- Banner Section -->
    <div class="banner">
      <div class="banner-image"></div>
      <div class="banner-text">
        <h1>Ideas</h1>
        <p>Where all our great things begin</p>
      </div>
    </div>

    <!-- Controls Section -->
    <div class="controls mb-4 mt-5">
      <div class="showing-item">
        <p class="text-center">{{ displayRange }}</p>
      </div>
      <div class="control-action d-flex" style="gap: 5px">
        <div class="control-item">
          <label>
            Sort by:
            <select
              v-model="sortOrder"
              @change="fetchIdeas"
              class="form-select"
            >
              <option value="-published_at">Newest</option>
              <option value="published_at">Oldest</option>
            </select>
          </label>
        </div>
        <div class="control-item">
          <label style="border-radius: 30px">
            Items per page:
            <select
              v-model="pageSize"
              @change="changePageSize"
              class="form-select"
            >
              <option v-for="size in pageSizes" :key="size" :value="size">
                {{ size }}
              </option>
            </select>
          </label>
        </div>
      </div>
    </div>

    <!-- Cards Section -->
    <div class="container d-flex">
      <div class="card-container row m-auto">
        <Card
          v-for="idea in ideas"
          :key="idea.id"
          :idea="idea"
          class="col-lg-4 col-md-4 col-sm-6 col-12"
        />
      </div>
    </div>

    <!-- Pagination Section -->
    <nav aria-label="Page navigation" class="pagination-nav">
      <ul class="pagination justify-content-center flex-wrap">
        <li class="page-item" :class="{ disabled: pageNumber === 1 }">
          <button class="page-link" @click="changePage(1)" aria-label="First">
            &laquo;
          </button>
        </li>
        <li class="page-item" :class="{ disabled: pageNumber === 1 }">
          <button
            class="page-link"
            @click="changePage(pageNumber - 1)"
            aria-label="Previous"
          >
            &lt;
          </button>
        </li>
        <li
          class="page-item"
          v-for="page in totalPages"
          :key="page"
          :class="{ active: page === pageNumber }"
        >
          <button class="page-link" @click="changePage(page)">
            {{ page }}
          </button>
        </li>
        <li class="page-item" :class="{ disabled: pageNumber === totalPages }">
          <button
            class="page-link"
            @click="changePage(pageNumber + 1)"
            aria-label="Next"
          >
            &gt;
          </button>
        </li>
        <li class="page-item" :class="{ disabled: pageNumber === totalPages }">
          <button
            class="page-link"
            @click="changePage(totalPages)"
            aria-label="Last"
          >
            &raquo;
          </button>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import Card from "@/components/Card.vue";

export default {
  name: "Ideas",
  components: {
    Card,
  },
  data() {
    return {
      ideas: [],
      sortOrder: "-published_at",
      pageNumber: 1,
      pageSize: 10,
      totalItems: 0,
      pageSizes: [10, 20, 50],
    };
  },
  computed: {
    totalPages() {
      return Math.ceil(this.totalItems / this.pageSize);
    },
    displayRange() {
      const start = (this.pageNumber - 1) * this.pageSize + 1;
      let end = this.pageNumber * this.pageSize;
      end = Math.min(end, this.totalItems);
      return `Showing ${start}-${end} of ${this.totalItems}`;
    },
  },
  created() {
    const savedSortOrder = localStorage.getItem("sortOrder");
    const savedPageNumber = localStorage.getItem("pageNumber");
    const savedPageSize = localStorage.getItem("pageSize");

    if (savedSortOrder) this.sortOrder = savedSortOrder;
    if (savedPageNumber) this.pageNumber = parseInt(savedPageNumber);
    if (savedPageSize) this.pageSize = parseInt(savedPageSize);

    this.fetchIdeas();
  },
  methods: {
    async fetchIdeas() {
      try {
        const response = await this.$http.get(`/ideas`, {
          params: {
            "page[number]": this.pageNumber,
            "page[size]": this.pageSize,
            "append[]": ["small_image", "medium_image"],
            sort: this.sortOrder,
          },
          headers: {
            Accept: "application/json",
          },
        });

        this.ideas = response.data.data;
        this.totalItems = response.data.meta.total;

        if (this.pageNumber > this.totalPages) {
          this.pageNumber = this.totalPages;
          await this.fetchIdeas();
        }

        // Save state to localStorage
        localStorage.setItem("sortOrder", this.sortOrder);
        localStorage.setItem("pageNumber", this.pageNumber);
        localStorage.setItem("pageSize", this.pageSize);
      } catch (error) {
        console.error("Error fetching ideas:", error);
      }
    },
    changePageSize() {
      this.fetchIdeas();
    },
    changePage(page) {
      if (page < 1 || page > this.totalPages) return;
      this.pageNumber = page;
      this.fetchIdeas();
    },
  },
};
</script>

<style scoped>
.main {
  margin-top: 60px;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://img.freepik.com/free-photo/row-idea-adhesive-notes-border-many-light-bulbs-against-blue-background_23-2147873507.jpg?t=st=1718987606~exp=1718991206~hmac=703777590bd7c07ce547f3a42399f28b017c1b75d506fb594e4c06aeb34214d3&w=900");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  z-index: 1;
}

.banner-text {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.banner-text h1 {
  font-size: 3em;
  margin: 0;
}

.banner-text p {
  font-size: 1.5em;
  margin: 0;
}

.controls {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  align-items: end;
  flex-wrap: wrap;
}

.form-select {
  border-radius: 30px !important;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.pagination-nav {
  margin-top: 20px;
}

.pagination .page-link {
  cursor: pointer;
}

.pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #ff6600 !important;
  border-color: #ff6600 !important;
  border-radius: 5px;
}

.page-link {
  color: #000;
  border: none;
}

.pagination-nav {
  height: auto;
}
</style>
