<template>
  <div class="card">
    <img
      v-lazy="idea.small_image[0]?.url || '/lazyload.jpg'"
      class="card-img-top"
      alt="Idea Image"
    />
    <div class="card-body">
      <div class="card-text">
        <p class="card-publish">{{ formattedDate }}</p>
        <h5 class="card-title">{{ idea.title }}</h5>
      </div>
    </div>
  </div>
</template>
  
  <script>
export default {
  name: "Card",
  props: {
    idea: Object,
  },
  computed: {
    formattedDate() {
      if (!this.idea.published_at) return "";
      const date = new Date(this.idea.published_at);
      return new Intl.DateTimeFormat("en-GB", {
        day: "numeric",
        month: "long",
        year: "numeric",
      }).format(date);
    },
  },
};
</script>
  
  <style scoped>
.card {
  margin-bottom: 1rem;
  width: 250px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  text-align: left;
}

.card-publish {
  font-size: 12px;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  color: #a7a7a7;
}

.card-text {
  min-height: 70px;
}
</style>
  