<template>
  <header
    class="header navbar navbar-expand-lg navbar-dark bg-dark"
    :style="{ backgroundColor: headerBackground, opacity: headerOpacity }"
  >
    <div class="container-fluid">
      <router-link to="/" class="navbar-brand">
        <img src="/logo.png" alt="Logo" style="max-height: 80px" />
      </router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li
            :class="{ 'nav-item': true, 'nav-active': activeLink === 'work' }"
          >
            <a class="nav-link" href="#work" @click="setActive('work')">Work</a>
          </li>
          <li
            :class="{ 'nav-item': true, 'nav-active': activeLink === 'about' }"
          >
            <a class="nav-link" href="#about" @click="setActive('about')"
              >About</a
            >
          </li>
          <li
            :class="{
              'nav-item': true,
              'nav-active': activeLink === 'services',
            }"
          >
            <a class="nav-link" href="#services" @click="setActive('services')"
              >Services</a
            >
          </li>
          <li
            :class="{ 'nav-item': true, 'nav-active': activeLink === 'ideas' }"
          >
            <a class="nav-link" href="#ideas" @click="setActive('ideas')"
              >Ideas</a
            >
          </li>
          <li
            :class="{
              'nav-item': true,
              'nav-active': activeLink === 'careers',
            }"
          >
            <a class="nav-link" href="#careers" @click="setActive('careers')"
              >Careers</a
            >
          </li>
          <li
            :class="{
              'nav-item': true,
              'nav-active': activeLink === 'contact',
            }"
          >
            <a class="nav-link" href="#contact" @click="setActive('contact')"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      lastScrollTop: 0,
      headerBackground: "#ff6600",
      headerOpacity: 1,
      activeLink: "ideas",
    };
  },
  methods: {
    handleScroll() {
      const currentScrollTop =
        window.pageYOffset || document.documentElement.scrollTop;
      if (currentScrollTop > this.lastScrollTop && currentScrollTop > 50) {
        this.headerOpacity = 0;
      } else {
        // Upscroll or near the top
        this.headerOpacity = currentScrollTop > 0 ? 0.8 : 1;
      }
      this.lastScrollTop = currentScrollTop <= 0 ? 0 : currentScrollTop;
    },
    setActive(link) {
      this.activeLink = link;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style scoped>
.header {
  z-index: 3;
  width: 100%;
  height: auto;
  background-color: #ff6600 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease;
}

.nav-brand img {
  height: 50px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-active {
  border-bottom: 3px solid #fff;
}

.nav-link {
  color: #fff !important;
}
.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #333333;
}
</style>
